.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*Audio*/
svg {
  color: #f5fcfb;

}
.clip-container svg {
  color: black;

}
/*Audio*/
.analyzerView svg {
  background-color: #ccd3d2;
  border-radius: 5px;
  /*cursor: ew-resize;*/
  /*border: 1px solid lightgray;*/
}

.timeOverViev canvas {
  background-color: #ccd3d2;
  cursor: ew-resize;
  border: 1px solid lightgray;
  border-radius: 5px;
}

#navlist li {
  display: inline-grid;
  list-style-type: none;
  padding-right: 20px;
  float: left;
}

ul {
  height: 25px;
}

.clip-container {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 50px;
  justify-content: center;
  margin: 25px 0px;
}

.technique li {
  display: inline-grid;
  list-style-type: none;
  margin-right: 10px;
  float: left;
  border-radius: 3px;
}
.timefft li {
  display: inline-grid;
  list-style-type: none;
  margin-right: 5px;
}

.audio-clip {
  border: 1px solid snow;
  background: lightgray;
  border-radius: 3px;
}

.navbar svg{
background: transparent;
}

