.song-container{
    display: flex;
    justify-content: center;
    height: 10vh;
    width: 100%;
    padding: 1%
}
.song-box{
    position: relative;
    background: red;
    height: 100%;
    width: 100%;
}
.selector{
    position: absolute;
    overflow: auto;
    top: 0;
    background: blue;
    height: 100%;
    min-width: 10%;
    max-width: 100%;
    resize: horizontal;
    width: 30%;
}
.selector-left{
    background: yellow;
    position: absolute;
    top: 0;
    height: 100%;
    width: 2%;
    max-width: 5%;
    min-width: 2%
}
.selector-right{
    background: yellow;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 2%;
    max-width: 5%;
    min-width: 2%
}
